#donorRegisterfrom .doantionForm {
  position: relative;
  max-width: 900px;
  width: 80%;
  border-radius: 6px;
  padding: 30px;
  margin: 20px 15%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(236, 224, 224);
}
#donorRegisterfrom .container header {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
}
#donorRegisterfrom .container form {
  position: relative;
  margin-top: 20px;
  min-height: 490px;
}
#donorRegisterfrom .container form .detail.ID {
  margin-top: 30px;
}

#donorRegisterfrom .container form .title {
  display: flex;
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: 600;
  margin: 7px 0;
  color: black;
}
#donorRegisterfrom .container form .fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#donorRegisterfrom form .fields .input-field {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-right: 20px;
}
#donorRegisterfrom .input-field label {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
#donorRegisterfrom .input-field input {
  outline: none;
  font-size: 14px;
  color: black;
  border-radius: 5px;
  border: 1px solid #dcdfe6;
  padding: 0 15px;
  height: 40px;
  margin: 8px 0;
}
#donorRegisterfrom .group {
  height: 35px;
  border: 1px solid #dcdfe6;
}
#donorRegisterfrom .form {
  margin-top: 35px;
}
#donorRegisterfrom .form button {
  height: 50px;
  width: 30%;
  background-color: #de1f26;
  color: white;
  margin: 20px 30%;
  font-size: 20px;
  border: none;
  font-weight: 400;
  border-radius: 6px;
  transition: 0.2;
  cursor: pointer;
  outline: none;
}
button:hover {
  background-color: rgb(204, 35, 35);
}
