* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #fafafa;
}
#navbar .dropdown:hover .dropdown-content {
  display: block;
}
#navbar .logo {
  color: red;
}

#body1 img {
  height: 500px;
  width: 100%;
}

#body2 .title {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  color: red;
}
#body2 .about-btn {
  border-radius: 50px;
  height: 40px;
  width: 100px;
}
#body2 .about-btn:hover {
  color: white;
}

#body3 .title1 {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  color: red;
}
#body3 tbody td:first-child {
  color: red;
}

#body4 {
  margin: auto;
  border: 1px solid gray;
  box-shadow: 2px lightgray;
}
#body4 .title2 {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  color: red;
}

#body4 .card-header a {
  cursor: pointer;
}
#body4 .donation-details {
  margin-top: 40px;
}
#body4 .detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#body5 .title3 {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  color: red;
}

.login {
  background-color: #b89696;
  width: 25%;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}
.login .head {
  display: flex;
}
.login .form-container h2 {
  font-size: 2rem;
  text-align: center;
  flex: 4;
}
.login .form-container i {
  flex: 1;
  cursor: pointer;
  margin-left: 40px;
}
.login .form-container a {
  color: #333;
  text-decoration: none;
}
.login .form-container span {
  font-size: 20px;
  word-spacing: 2px;
}
.login .form-container form {
  display: flex;
  flex-direction: column;
}
.login .form-container input {
  padding: 8px;
  margin: 10px 0;
  background-color: rgb(238, 234, 234);
  border: none;
  border-radius: 8px;
  outline: none;
  color: black;
  width: 100%;
}
.login .form-container button {
  background-color: #0c46e7;
  color: white;
  padding: 10px 45px;
  border: none;
  border-radius: 8px;
  width: 55%;
  margin: 10px 0 10px 60px;
  cursor: pointer;
}

.login .social-media {
  margin: 10px 0 0 0;
}
.login .social-media a {
  font-size: 20px;
  display: flex;
  text-decoration: none;
}
.login .social-media button {
  padding: 10px;
  width: 100%;
  margin: 10px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: white;
}
.login .social-media .btn1 {
  background-color: #3b5998;
}
.login .social-media .btn2 {
  background-color: #da5276;
}
.login .social-media i {
  margin-right: 10px;
}

.body5 {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 245, 245);
  margin-top: 20px;
}
.body5 .contact {
  max-width: 800px;
  text-align: center;
}
.body5 .contact h4 {
  font-size: 36px;
  font-weight: 500;
  color: rgb(6, 0, 0);
}
.body5 .contact p {
  color: rgb(0, 0, 0);
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.main .info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main .info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.main .info .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fffefe;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50;
  font-size: 22px;
}
.main .info .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  flex-direction: column;
  font-weight: 300;
}

.form {
  width: 40%;
  padding: 40px;
  background: #fff;
}
.form h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.form .inputBox input,
.form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
