* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
#navbar .dropdown:hover .dropdown-content {
  display: block;
}
#navbar .logo {
  color: red;
}

#body1 img {
  height: 500px;
  width: 100%;
}

#body2 .title {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  color: red;
}
#body2 .about-btn {
  border-radius: 50px;
  height: 40px;
  width: 100px;
}
#body2 .about-btn:hover {
  color: white;
}

#body3 .title1 {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  color: red;
}
#body3 tbody td:first-child {
  color: red;
}

#body4 {
  margin: auto;
  border: 1px solid gray;
  box-shadow: 2px lightgray;
}
#body4 .title2 {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  color: red;
}

#body4 .card-header a {
  cursor: pointer;
}
#body4 .donation-details {
  margin-top: 40px;
}
#body4 .detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#body5 .title3 {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  color: red;
}
