#stock-section h2 {
  text-align: center;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
#bloodType,
#quantityInput {
  width: 35%;
  padding: 5px;
  border-radius: 8px;
  margin: 0 20px 0 0;
  outline: none;
  border: 1px solid black;
}
#navbar .profile:hover .profile-content {
  display: block;
}
#navbar .profile {
  margin-right: 80px;
}

#eventForm {
  display: none;
  position: absolute;
  top: 60%;
  right: 10%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  width: 32%;
  border-radius: 10px;
  background-color: #d8c7c7;
  overflow: hidden;
}

#event .form-title {
  text-align: center;
  font-size: 1.5rem;
}
#event .form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#event label {
  font-size: 20px;
  margin: 0 5px 0 5px;
}
#event input[type="text"],
input[type="integer"],
input[type="email"],
input[type="date"],
select,
textarea {
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
  max-width: 100%;
}
select {
  height: 35px;
}
#eventForm i {
  position: absolute;
  right: 40px;
  top: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.label {
  display: flex;
  flex: auto;
}

.pagination {
  margin: 20px 0;
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.table-search {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
#search-input {
  outline: none;
  padding: 5px;
  border: none;
  background-color: #d8c7c7;
  border-radius: 5px;
}

/* #confirmationPopup {
  display: none;
  position: absolute;
  left: 65%;
  top: 20%;
  border-radius: 3px;
  z-index: 1000;
}

#confirmationBox {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#confirmationBox button {
  margin: 5px;
} */
