.sidebar .nav ul li a.active,
.nav ul li a.hover {
  background-color: #007bff;
}
#stock-section h2 {
  text-align: center;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
#bloodType,
#quantityInput {
  width: 35%;
  padding: 5px;
  border-radius: 8px;
  margin: 0 20px 0 0;
  outline: none;
  border: 1px solid black;
}

.action:hover .action-content {
  display: block;
}
.action {
  cursor: pointer;
}

/*event*/
#editeventForm {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.label {
  display: flex;
  justify-content: space-around;
}
.eventForm {
  position: absolute;
  top: 0;
  right: 10%;
  transform: translate(-50%, -50%) scale(0.1);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
  width: 32%;
  border-radius: 10px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  margin-top: 30px;
  padding: 5px;
}
.open-form {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

#eventForm i {
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* hotline */
.contactForm {
  position: absolute;
  top: 0;
  right: 10%;
  transform: translate(-50%, -50%) scale(0.1);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  z-index: 1;
  width: 32%;
  border-radius: 10px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-form {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

#contact .form-title {
  text-align: center;
  font-size: 1.5rem;
}
#contact .form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#contact label {
  font-size: 20px;
  margin: 0 5px 0 5px;
}

#contactForm i {
  position: absolute;
  right: 40px;
  top: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.pagination {
  margin: 20px 0 5px 0;
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.table-search {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
#search-input {
  outline: none;
  padding: 5px;
  border: none;
  background-color: #d8c7c7;
  border-radius: 5px;
}

.confirmationPopup {
  position: fixed;
  top: 50%;
  right: 20%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s ease-out;
}
.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
#confirmationBox {
  background-color: #bd9d9d;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}
#confirmationBox button {
  margin: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
  .container-fluid {
    padding: 15px;
  }

  select,
  .form-group input,
  .form-group textarea,
  button {
    font-size: 14px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 15px;
  text-align: left;
}

.cetificate form {
  gap: 10px;
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#select,
#date {
  border: none;
  outline: none;
  border-radius: 5px;
}

#edithotline {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
