#stock-section h2 {
  text-align: center;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
#bloodType,
#quantityInput {
  width: 35%;
  padding: 5px;
  border-radius: 8px;
  margin: 0 20px 0 0;
  outline: none;
  border: 1px solid black;
}
#navbar .profile:hover .profile-content {
  display: block;
}
#navbar .profile {
  margin-right: 80px;
}

#confirmationPopup {
  display: none;
  position: absolute;
  left: 65%;
  top: 20%;
  border-radius: 3px;
  z-index: 1000;
}

#confirmationBox {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#confirmationBox button {
  margin: 5px;
}
