* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.loading {
  display: none;
}

#navbar .logo {
  color: red;
}
#navbar .profile:hover .profile-content {
  display: block;
}
#navbar .profile {
  margin-right: 80px;
}
#navbar ul li a {
  cursor: pointer;
}

#body1 .title {
  font-size: 2.5rem;
  color: red;
  margin-left: 20px;
}
#body1 .stock-detail {
  height: 120px;
  width: 23%;
  margin: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#body1 .donor-detail {
  height: 150px;
  width: 23%;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
#body1 .donor-detail p,
.stock-detail p {
  font-size: 20px;
}

#body2 .title1 {
  color: white;
  background-color: rgb(179, 46, 46);
  text-align: center;
  padding: 5px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#body2 .title1 h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
#body2 .title1 p {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#body2 .title1 span {
  font-size: 1rem;
}

#body4 .form-title,
#body2 .form-title {
  text-align: center;
  font-size: 1.5rem;
}
#body4 .form-container,
#body2 .form-container {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #d8c7c7;
  overflow: hidden;
}
#body4 .form-group,
#body2 .form-group {
  display: flex;
  flex-direction: column;
}
#body4 label,
#body2 label {
  font-size: 20px;
  margin-bottom: 5px;
}
#body4 input[type="text"],
input[type="integer"],
input[type="email"],
select,
textarea,
#body2 input[type="text"],
input[type="integer"],
input[type="email"],
select,
textarea {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}

#body1,
#body2,
#body3,
#body4,
#body5,
#body6 {
  flex: 1;
}

#body4 .title {
  background-color: rgb(168, 17, 17);
  height: 200px;
  padding: 50px;
}
#body4 .title h1 {
  color: white;
}
